@import "mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: unset;
  text-decoration: none;
}

.hide {
  display: none !important;
}

fieldset {
  margin: 10px 0;
  border: 1px solid gray;
  padding: 10px;
}

label {
  margin: 10px 0;
}

input,
select {
  width: 100%
}

.form-control:invalid {
  border: 1px solid red;
}

.cardsApp {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 800px;

  &__btn {
    margin: 28px;
    padding: 10px 30px;
    background-color: #EEEEEE;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #2E3D8F;
    cursor: pointer;
    font-weight: 500;


    &--search {
      width: 50%;
    }
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 47px;
    font-weight: 500;
    font-size: 36px;
    color: #525252;
  }

}

.cardsApp__btn:hover{
  color: white;
  background-color: #2E3D8F;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border: 2px solid #2E3D8F;
  background-color: rgba(0,0,0,0.4);
  padding: 45px;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #525252;
  max-height: 85vh;
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#loginFormEmail{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #525252;
  height: 40px;
}
#loginFormPassword{
  font-family: 'Roboto', sans-serif;
  color: #525252;
  height: 40px;
  font-size: 16px;
}



