.cardsApp__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardsApp__logo {
    margin: 11px;

    &--img {
        width: 96px;
    }
}

.cardsApp_formLogin,
.cardsApp_formCreate {
    display: flex;
    flex-direction: column;
}

.modal .cardsApp__btn {
    width: 350px;
    margin: 28px auto 0 auto;

}
.modal .cardsApp_formCreate {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #525252;
}
.modal .cardsApp_formCreate select, textarea, input{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #525252;
}
