.cardsApp__desk {
    position: relative;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #9E9E9E;
    background-color: white;

}
.dragging {
    opacity: 0.4;
}
#createFormDoctor{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #525252;
    height: 40px;
}
.cardsApp_formCreate .cardsApp__btn{
    margin: 28px auto;
    margin-bottom: 0;
}
.cardsApp_patientCard {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50px auto;
    grid-template-areas:
            "header header"
            "mainBlock hide";
}
.patientCard-Btns{
    grid-area: header;
    background-color: #2E3D8F;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.patientCard-containerMainPart{
    grid-area: mainBlock;
}
.patientCard-hiddenFields {
    grid-area: hide;
}