.cardsApp__filter {
    padding: 10px;
    text-align: center;
    padding-bottom: 90px;
    border-bottom: 1px solid #9E9E9E;
}

.cardsApp__form-filter {
    margin: 40px auto;
    display: flex;
    justify-content: space-evenly;
    max-width: 855px;
    background-color: #EEEEEE;;
}

#filterTitle {
    height: 40px;
    padding-left: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #9E9E9E;
    border: none;
    background-color: #EEEEEE;
    border-right: 1px solid #9E9E9E;
}

#filterUrgency{
    height: 40px;
    padding-left: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #9E9E9E;
    border: none;
    background-color: #EEEEEE;
    outline: none;
}

