

.cardsApp_patientCard {
  width: 80%;
  min-width: 800px;
  min-height: 370px;
  background-color: rgba(109, 159, 217, 0.5);

  border: 1px solid black;
  position: relative;
  margin: 0.5rem auto 0 auto;
  background-image: url("../img/desk/logo_large.png");
  background-size: 330px;
  background-repeat: no-repeat;
  background-position: top 44px right 120px;


  p {
    line-height: 1.5rem;
  }

}

.patientCard {

  &-Btns {

  }

  &-editBtn, &-deleteBtn, &-expandBtn {
    margin-right: 10px;
    width: 55px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    padding: 3px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #525252;
    border: 1px solid #525252;
    border-radius: 8px;
  }

  &-containerMainPart {
    margin: 40px;
    background-color: white;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #525252;
  }


  &-row {
    margin-bottom: 1rem;

    &-title {
      font-weight: 500;
    }

    &-text {
      border: 1px solid lightgrey;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      color: #525252;
      padding-left: 6px;
    }

  }

  &-hiddenFields{
    display: none;
  }

  &-hiddenFieldsNotVisible{
    display: block;
    background-color: white;
    margin: 40px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #525252;
  }

}

.patientCard-expandBtn:hover, .patientCard-editBtn:hover, .patientCard-deleteBtn:hover {
  background-color: #6D9FD9;
  color: white;
  border: 1px solid white;
}